<ol>
  <% @carted_products.each do |carted_product| %>
    <li><%= carted_product.product.name %> <%= link_to "Remove Product", "/carted_products/#{carted_product.id}", method: :delete %>
  <% end %>
</ol>

  <%= form_tag "/orders", method: :post do %>
    <div>
      <%= submit_tag "Buy Now" %>
    </div>
  <% end %>