<a href= "/products">Return to All Products Page</a><br>
<img src="<%= @product.image %>"><br>
<h1><%= @product.name %></h1><br>
<p><%= @product.description %></p><br>
<p>$<%= @product.price %></p><br>
