  <h2><%= @product.name %></h2><br>
  <img src="<%= @product.image %>"><br>
  <h3><%= @product.description %></h3><br>
  <h3>$<%= @product.price %></h3><br>
  <a href= "http://localhost:3000/products">Return to All Products Page</a> 